
body {box-sizing: border-box; padding: 0; margin: 0;width: 100%;font-family: 'Syne', sans-serif;}

.container {max-width: 1430px; width: 100%; margin: 0 auto;}

.container-fluid {width: 100%; max-width: 100%;}

.button-wrapper {float: right;}
.topnav { overflow: hidden;}
.menu {text-align: right;}
.topnav img {max-width: 200px; width: 100%;}
.topnav a { float: left; display: block; color: #000;text-align: center; padding: 14px 15px;
    text-decoration: none; font-size: 17px; font-weight: 500;}
.topnav a:hover {  color: #ff6551; }
.topnav a.active {  background-color: #04AA6D;  color: white; }
.topnav .icon { display: none; }
.login-btn {background-color: transparent ; padding: 10px 20px; margin: 10px 10px 0 0; color: #ff6551;border: 
    1px solid #ff6551; border-radius: 5px; ;}
.login-btn:hover {background-color: #ff6551;color:  #ff6551; color: #fff;
    border:  1px solid #ff6551 ; transition: all 0.4s ease-in;}





.banner_wrapper {padding:0 ; margin: 0;}
.banner-main {padding: 30px; margin: 0; display: flex;}
.banner-left {float: left; max-width: 50% ; width: 100%; padding-top: 100px;}
.banner-right {float: right; max-width: 50% ; width: 100%;}
.banner-left h1 {   margin-top: 20px;  margin-bottom: 10px;  font-size: 41px;  font-weight: 700;line-height: 60px; }
.banner-left p {font-size: 24px;  line-height: 40px;padding: 10px 0; margin: 0;}
.btn-box {width: 100%; padding: 10px 0; margin: 0;}
.book-btn {height: 60px;  background-color: #2e8096;  padding: 0 21px; font-size: 18px;
    border: none; border-radius: 10px; color: #fff; cursor: pointer; }
.read-btn{ height: 60px;  background-color: transparent;  padding: 0 21px; font-size: 18px;
    border: none;border-radius: 10px;font-size: 16px; cursor: pointer;}
.team {padding: 10px 0; margin: 0;}
.team  p {padding: 10px 0; margin: 0;font-size: 16px; line-height: 30px;}
.team  ul {display: inline-flex; padding: 0 ; margin: 0;list-style: none;  align-items: center;}
.team ul li {padding: 0 15px 0 0; margin: 0;}
.team ul li a {text-decoration: none;}
.team ul li  a img {max-width: 100%; width: 100%;filter: grayscale();}
.team ul li  a img:hover {filter: none;}


.service_wrapper {padding: 60px 0 ; margin: 0;}
.service_wrapper h2 {margin-top: 20px;   margin-bottom: 10px;   font-size: 36px;    font-weight: 700; line-height: 52px;
text-align: center; }
.service_wrapper p {max-width: 600px ;width: 100%;font-size: 20px; margin: 0 auto; padding: 20px 0; text-align: center;
line-height: 30px;}
.service-box {position: relative;  margin-top: 30px;}
.service-box img {width: 100%; max-width: 100%;border-radius: 5px;}

.service-content {background-color:rgba(68, 156, 181, 0.5);  position: absolute; bottom: 0; left: 0; right: 0; 
 border-radius: 5px; }
.service-content h1{color: #fff; padding: 10px  0 10px 20px ; margin: 0;  font-size: 29px; }
.service-content p{color: #fff; padding: 10px  0 10px 20px ; margin: 0;  text-align: left;font-size: 18px;}
.service-content .bi {color: #fff;padding: 10px  0 10px 20px ; margin: 0;  font-size: 30px;}






.gro_wrapper {padding: 60px 0;margin: 0;}
.gro_wrapper img {max-width: 80%; width: 100%;}
.gro-box {padding: 110px 0;}
.grwth-box ul {list-style: none; display: flex; padding: 10px 0;margin: 0; align-items: center;}
.grwth-box ul li {padding: 0 5px;margin: 0;  }
.grwth-box ul li h2 {font-weight: 300; font-size: 14px;}
.grwth-box ul li .bi {background-color: #2e8096; color: #fff; padding: 3px; }
.grwth-box ul li img {max-width: 100%; width: 100%;}
.gro_wrapper h1 {margin-top: 20px;     margin-bottom: 10px;font-size: 36px;font-weight: 700; line-height: 52px; }
.gro_wrapper h1 span {color: #2e8096  ;}
.gro_wrapper p {font-size: 18px; font-weight: 500; line-height: 32px;}


.model_wrapper {padding: 80px 0 110px 0;  margin: 0;background-color: #f9f9f9;;}
.model-main {display: flex; width: 100%; max-width: 100%; padding: 00; margin: 0;}
.model-left {float: left; max-width: 55%; width: 100%;}
.model-right {float: right; max-width: 45%; width: 100%; padding-left: 40px;}
.model-box {background-color: #fff; padding: 44px 40px; margin: 10px 10px 10px 0 ; border-radius: 5px;}
.model-box img {max-width: 30%; width: 100%; margin: 10px 0;}
.model-box h3 {font-size: 24px; font-weight: 700;line-height: 42px;}
.model-box p { margin-top: 12px; font-size: 18px; font-weight: 500; line-height: 32px;}
.model-right h2 { margin-bottom: 10px;  font-size: 36px;line-height: 52px;}
.model-right h2 span {color: #2e8096;}
.model-right p{margin-top: 12px; font-size: 18px; font-weight: 500; line-height: 32px;}
.read-btn2{ height: 60px;  background-color: transparent;  padding: 0 px; font-size: 18px;
    border: none;border-radius: 10px;font-size: 16px; cursor: pointer;}
.read-btn2 .bi {margin: 0 10px; font-size: 25px; }
.read-btn2:hover .bi {margin: 0 20px; transition: all 0.4s ease; }



.blob_wrapper {padding: 50px 0 70px 0; margin: 0;}
.blob_wrapper h1 {  text-align: center; margin:0 auto;font-size: 42px; line-height: 58px;
max-width: 1000px; padding: 20px 0;}
.blob_wrapper h1 span {color: #2e8096;}
.number_box {text-align: center; }
.number{border-right: 1px solid rgb(213, 206, 206);}
.number_box h1 {margin-top: 20px;margin-bottom: 10px; font-size: 42px;font-weight: 700;
    line-height: 58px;color: #2e8096 }
.number_box p { margin-bottom: 10px;font-weight: 500;;}


.team_wrapper {padding: 100px 0 50px 0; margin: 0   ;}
.team_wrapper img {border-radius: 5px; width: 100%; max-width: 100%;}
.team-content {padding: 59px 0; margin: 0;} 
.row {padding: 0px 0; margin: 0 0 60px 0;}
.team-content h1 {margin-top: 20px;margin-bottom: 10px; font-size: 36px;  font-weight: 700;line-height: 52px;}
.team-content p {margin-top: 12px;  padding-right: 0;  font-size: 18px; font-weight: 500; line-height: 32px;}
.team_wrapper img {border-radius: 5px; width: 100%; max-width: 100%;object-fit: cover;}



.enterprise_wrapper {padding: 100px 0 50px 0; margin: 0; text-align: center;}
.enterprise_wrapper h1 {margin-top: 20px;margin-bottom: 10px; font-size: 36px;   font-weight: 700; line-height: 52px;}
.enterprise_wrapper p {font-size: 20px;font-weight: 400;}
.btn-box-3 {background-color: #f4f4f4;max-width: 23%; margin: 0 auto; text-align: center;border-radius: 50px; }
.btn-box-3 ul{list-style: none; display: flex; padding: 0; margin: 0;justify-content: center;}
.btn-box-3 ul li {padding: 5px 10px ; margin: 0;}
.img-btn {background-color: #f4f4f4;  padding: 10px ; margin: 0; border-radius: 50px; border: none;color: #000;}
.img-btn:hover {background-color: #2e8096; color: #fff;}
.enterprise_wrapper img {width: 100%; max-width: 100%; border-radius: 5px;margin-top: 20px;}

.work_wrapper {padding: 100px 0 50px 0; margin: 0; }
.work_wrapper  h1 {margin-top: 20px;margin-bottom: 10px; font-size: 36px;   font-weight: 700; line-height: 52px;}
.work_wrapper  p {margin-top: 12px; font-size: 18px;  font-style: normal;font-weight: 500;line-height: 32px;}
.work-box1 { margin: 0; background-color: hsla(24.000000000000036, 62.50%, 96.86%, 1.00); border-radius: 8px;
     padding: 80px  0 0 32px; position: relative;}
.work-box1 img {max-width: 79%; width: 100%;   margin: 0 0 0 127px;border-radius: 8px;  }
.work-content {position: absolute;top: 5%; left: 5%;  }
.work-content h2 {margin-top: 20px;margin-bottom: 10px; font-size: 24px;font-weight: 700; line-height: 32px;
    color: hsla(17.25490196078431, 83.61%, 64.12%, 1.00);}
.work-content p {  line-height: 28px; margin: 0;font-size: 16px;}

.work-box2 { margin: 0; background-color: #eceffd;; border-radius: 10px;
    padding: 80px  0 0 32px; position: relative;}
.work-box2 img {max-width: 79%; width: 100%;   margin: 76px 0 0 127px; border-radius: 8px; }

.work-box3 { margin: 0; background-color: #edf6ff;;; border-radius: 10px;
    padding: 80px  0 0 32px; position: relative;}
.work-box3 img {max-width: 79%; width: 100%;   margin: 76px 0 0 127px; border-radius: 8px; }

.work-box4 { margin: 0; background-color: #ffefe9;; border-radius: 10px;
    padding: 80px  0 0 32px; position: relative;}
.work-box4 img {max-width: 79%; width: 100%;   margin: 28px 0 0 127px; border-radius: 8px; }



.tech_wrapper {padding:100px 0 50px 0; ;}
.tech-box {padding: 20px; border-radius: 10px; border: 1px solid rgb(192, 187, 187); margin: 20px 0;}
.tech-box  img {border-radius: 8px; margin: 10px 0; padding: 0  ;}
.tech_wrapper h1 { text-align: center; padding: 10px 0; margin: 0;}
.tech_wrapper p {text-align: center;padding: 10px 0; margin: 0; }

.tech-box  h2 { padding:  0; margin: 10px 0;font-size: 24px;}
.tech-box  p {text-align: left;padding: 10px 0; margin: 0; }
.tech-box:hover { margin-top: 10px; transition: all 0.3s ease;}

.trust_wrapper {padding: 40px 0; margin: 0;}
.trust-box {padding: 10px 0; margin: 0;}
.trust-box ul {list-style: none; display: flex; padding: 0; margin: 0;}
.trust-box ul li {padding: 0 ; margin: 0; justify-content: center;}
.trust-box img {max-width: 100%; width: 100%;  filter: grayscale();}
.trust-box img:hover        {filter: none;}

.footer_wrapper {padding-top: 120px; padding-bottom: 32px; background-color: #1b1c1d;}
.footer_wrapper img {max-width: 60% ; width: 100%;line-height: 32px;}
.footer_wrapper h2 {text-align: left;margin-top: 12px;padding-right: 0;color: #fff;
    font-size: 18px;font-style: normal;font-weight: 500; line-height: 32px;}
.footer_wrapper  .icon{ list-style: none; display: flex; padding: 00; margin: 0;}
.footer_wrapper  .icon li {padding: 10px; margin: 0; color: #fff;}
.footer_wrapper h4 {font-size: 20px;    font-weight: 500;line-height: 150%;color: #fff;}
.footer_wrapper ul {list-style: none; padding: 0; margin: 0;}
.footer_wrapper ul li{ padding: 0 ;margin: 0;line-height: 32px;}
.footer_wrapper ul li  a {text-decoration: none; color: #fff;  cursor: pointer;}
.footer_wrapper h1 {color: #fff;font-size: 21px;font-weight: 700;line-height: 32px;}
.footer_wrapper .img-icon {max-width: 50px; width: 100%;margin: 0 10px;}
.footer_wrapper p {color: #fff;}









